// colors
$mainColor: #111518;
$secondColor: #b9b9b9;
$accentColor: #ff6b09;
$additionalColor: #ffffff;
$thirdColor: #f1f1f1;
$transitionAnim: cubic-bezier(0.34, 0.04, 0.37, 0.73);
$transitionDuration: 250ms;
