.our-works__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}

.our-works__icon {
  fill: $accentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-works__item {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 15px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:first-child {
  //   margin-top: 0;
  // }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $accentColor;
  }

  &:hover .our-works__icon,
  &:focus .our-works__icon {
    fill: #ffffff;
  }

  &:hover .our-works__description,
  &:focus .our-works__description {
    color: #ffffff;
  }
}

.our-works__list {
  margin-top: 30px;
}
.our-works__section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 13px;
}

.our-works__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 32px;

  &::after {
    display: block;
    width: 20px;
    height: 2px;
    content: '';
    background-color: $accentColor;
    margin: 0 auto;
    margin-top: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.our-works__item:focus .our-works__name::after,
.our-works__item:hover .our-works__name::after {
  background-color: #ffffff;
}

.our-works__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.08em;
  color: $secondColor;
}

// @include device-size(mobile)
@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-works__item:first-child {
    margin-top: 0;
  }
}

@include device-size(tablet) {
  .our-works__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -27px;
    margin-left: -20px;
  }

  .our-works__item {
    flex-basis: calc((100% - 40px) / 2);
    margin-top: 27px;
    margin-left: 20px;
  }

  .our-works__title {
    margin-bottom: 30px;
  }
}

@include device-size(desktop) {
  .our-works__title {
    text-align: left;
  }

  .our-works__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
  }

  .our-works__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-top: 20px;
    margin-left: 20px;
  }
}
