/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/mixins';
@import './base/variables';
@import './base/common';
@import './base/container';
@import './layout/main-problems';
@import './layout/our-program';
@import './layout/registration-form';
@import './layout/logo';
@import './layout/header';
@import './layout/mobile-menu';
@import './layout/about';
@import './layout/site-guarantee';
@import './layout/feedback';
@import './site-works';
@import './layout/footer';
@import './layout/hero';

