<section class="about container">
    <h2 class="about__title">Teacher</h2>
    <div class="about__container">
        <div class="about__left-site">
            <picture class="about__picture">
                <source srcset="./images/about/portret-desktop@1x.jpg 1x, ./images/about/portret-desktop@2x.jpg 2x " media="(min-width: 1366px)">
                <source srcset="./images/about/portret-tablet@1x.jpg 1x, ./images/about/portret-tablet@2x.jpg 2x " media="(min-width: 768px)">
                <source srcset="./images/about/portret-mob@1x.jpg 1x, ./images/about/portret-mob@2x.jpg 2x " media="(min-width: 480px)">
                <img class="about__pic" src="./images/about/portret.jpg" alt="портрет учительницы">
            </picture>
            
        </div>
        <div class="about__right-site">
        <h3 class="about__name">Elena Moreva</h3>
        
        <ul class="about__list">
            <li class="about__item"><p class="about__paragraph">6 yeards of experience in preparing students for UPE</p></li>
            <li class="about__item"><p class="about__paragraph">Own result of passing VNO - 197 points 2 years in a row</p></li>
            <li class="about__item"><p class="about__paragraph">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary En-glish Test)</p></li>
        </ul>
        <p class="about__description">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.</p>
        <p class="about__description">In spare time takes courses from the best universities in the world on effective teaching and essay writing
        techniques.</p>        
         <p class="about__description about__text">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of
        Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS
        education), Powerful Tools for Teaching and Learning (University of Houston).</p>
        <a  class="about__link" href="https://bridge.edu/tefl/online-tefl-certification">Cambrige English Entry Level Certificate</a>
        </div>
    </div>
</section>