<section class="about container">
    <h2 class="about__title">Teacher</h2>
    <div class="about__container">
        <div class="about__left-site">
            <picture class="about__picture">
                <source srcset="./images/portret-desktop@1x.jpg 1x, ./images/portret-desktop@2x.jpg 2x " media="(min-width: 1366px)">
                <source srcset="./images/portret-tablet@1x.jpg 1x, ./images/portret-tablet@2x.jpg 2x " media="(min-width: 768px)">
                <source srcset="./images/portret-mob@1x.jpg 1x, ./images/portret-mob@2x.jpg 2x " media="(min-width: 480px)">
                <img class="about__pic" src="./images/portret.jpg" alt="портрет учительницы">
            </picture>
            
        </div>
        <div class="about__right-site"></div>
    </div>
</section>