<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__contacts">
      <!-- logo -->
      <div class="logo footer__logo">
        <a class="logo__link" href="./index.html">
          <div class="logo__icons-wrapper">
            <span class="logo__logo-start">
              <svg class="logo__logo-start-icon">
                <use href="./images/icons.svg#hell"></use>
              </svg>
            </span>
            <span class="logo__icon">
              <svg class="logo__icon-fire">
                <use href="./images/icons.svg#logo"></use>
              </svg>
            </span>
            <span class="logo__logo-end">
              <svg class="logo__logo-end-icon">
                <use href="./images/icons.svg#en"></use>
              </svg>
            </span>
          </div>
          <span class="logo__text">Hellish&nbsp;</span>
          <span class="logo__text logo-light-theme">english</span>
        </a>
      </div>
      <!-- logo end -->
      <div class="footer__phone-social-wrapper">
        <a class="footer__phone-number" href="tel:+38(000)0000000">+38 (000) 000 00 00</a>

        <div class="footer__social-wrapper">
          <a href="#" class="footer__social-link">
            <img
              class="footer__social-icon"
              src="./images/footer/inst.svg"
              alt="instagram social icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <h2 class="footer__copyright__title hidden">Footer</h2>
      <p class="footer__copyright-text">&copy; All rights reserved, 2019</p>
    </div>
  </div>
</footer>
