<header class="header">
  <div class="container">
    <div class="header-wrapper">
    <div class="logo">
      <a class="logo__link header__logo" href="./index.html">
        <div class="logo__icons-wrapper">
        <span class="logo__logo-start">
          <svg class="logo__logo-start-icon">
            <use href="./images/icons.svg#hell"></use>
          </svg>
        </span>
        <span class="logo__icon">
          <svg class="logo__icon-fire">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </span>

        <span class="logo__logo-end">
          <svg class="logo__logo-end-icon">
            <use href="./images/icons.svg#en"></use>
          </svg>
        </span>
      </div>
        <span class="logo__text">Hellish&nbsp;</span> 
        <span class="logo__text logo-light-theme">english</span>
      </a>
    </div>

    <nav class="main-nav">
      <ul class="main-nav__menu">
        <li class="main-nav__list-item"><a href="#our-program" class="main-nav__link scrollto">Studying program</a></li>
        <li class="main-nav__list-item"><a href="#" class="main-nav__link">About</a></li>
        <li class="main-nav__list-item"><a href="#" class="main-nav__link">Training options</a></li>
        <li class="main-nav__list-item"><a href="#" class="main-nav__link">Contacts</a></li>
      </ul>
    </nav>

    <div class="mobile-menu-wrapper">
    <button type="button" class="header__dialogue-btn btn-header">Consultation by phone</button>

        <!-- burger button -->
        <button type="button" class="header__mobile-menu-btn" data-menu-button>
          <svg class="header__mobile-menu-icon">
            <use href="./images/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
</div>
    <div class="mobile-menu" data-menu>
      <div class="mobile-menu__container container">
        <div class="logo">
          <a class="logo__link header__logo" href="./index.html">
            <div class="logo__icons-wrapper">
            <span class="logo__logo-start logo-dark-theme">
              <svg class="logo__logo-start-icon">
                <use href="./images/icons.svg#hell"></use>
              </svg>
            </span>
            <span class="logo__icon">
              <svg class="logo__icon-fire">
                <use href="./images/icons.svg#logo"></use>
              </svg>
            </span>
    
            <span class="logo__logo-end">
              <svg class="logo__logo-end-icon logo-dark-theme">
                <use href="./images/icons.svg#en"></use>
              </svg>
            </span>
          </div>
            <span class="logo__text">Hellish&nbsp;</span> 
            <span class="logo__text dark-theme">english</span>
          </a>
        </div>
        <button type="button" class="mobile-menu__close-btn" data-menu-close>
          <svg class="mobile-menu__close-icon" width="14.5" height="14.5">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="mobile-menu__nav">
          <li class="mobile-menu__item">
            <a  href="#" class="mobile-menu__link">Studying program</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">About</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Training options</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">Contacts</a>
          </li>
        </ul>

        <button type="button" class="header__dialogue-btn btn-mobile-menu">Consultation by phone</button>

  </div>
</header>
