<section class="hero">
  <div class="container hero__container">
     <h2 class="hero__title">
        Complex preparation for English UPE
     </h2>
     <p class="hero__text"><span class="hero__text_grey">It won’t be easy.</span>
        But you’re guaranteed to get 
        <span class="hero__text_accent">+25 points</span>
     </p>
     <a href="#" class="hero__main-btn">I want a free lesson</a>
  
  <div class="hero__picture-wrapper">
    <picture>
      <!-- <source
        srcset="
          ./images/hero/desktop/ 1x,
          ./images/team/desktop/desktop-team-member-1@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/team/desktop/desktop-team-member-1.jpg    1x,
          ./images/team/desktop/desktop-team-member-1@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/team/tablet/tablet-team-member-1.webp    1x,
          ./images/team/tablet/tablet-team-member-1@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/team/tablet/tablet-team-member-1.jpg    1x,
          ./images/team/tablet/tablet-team-member-1@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/team/mobile/mobile-team-member-1.webp    1x,
          ./images/team/mobile/mobile-team-member-1@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      /> -->
      <source
        srcset="
          ./images/hero/mobile/mobile-hero-img.jpg  1x,
          ./images/hero/mobile/mobile-hero-img@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/hero/mobile/mobile-hero-img.jpg"
        alt="main image"
      />
    </picture>
  </div>

  <ul class="hero__featres-list">
    <li class="hero__features-item">
      <div class="hero__card-contents">
      <svg class="hero__features-icon">
        <use href="./images/icons.svg#hero-icon1"></use>
      </svg>
      <p class="hero__icon-descr">Adapted author's UPE program</p>
    </div>
  </li>
    <li class="hero__features-item">
      <div class="hero__card-contents">
      <svg class="hero__features-icon">
        <use href="./images/icons.svg#hero-icon2"></use>
      </svg>
      <p class="hero__icon-descr">Modern teaching methods</p>
    </div>
  </li>
  <li class="hero__features-item">
    <div class="hero__card-contents">
    <svg class="hero__features-icon">
      <use href="./images/icons.svg#hero-icon3"></use>
    </svg>
    <p class="hero__icon-descr">Financial guarantee <br>the result</p>
  </div>
</li>
  </ul>
</div>
</section>