<section class="hero">
  <div class="container hero__container">
    <div class="hero__text-btn-img">
      <div class="hero__text-btn-img_txt-btn">
        <h2 class="hero__title">Complex preparation for English UPE</h2>
        <p class="hero__text">
          <span class="hero__text_grey">It won’t be easy.</span>
          But you’re guaranteed to get
          <span class="hero__text_accent">+25 points</span>
        </p>
        <div class="hero__main-btn-wrapper">
          <a href="#registration-form" class="hero__main-btn scrollto">I want a free lesson</a>
        </div>
      </div>
      <div class="hero__picture-wrapper">
        <picture>
          <source
            srcset="
              ./images/hero/desktop/desktop-hero-img.png    1x,
              ./images/hero/desktop/desktop-hero-img@2x.png 2x
            "
            media="(min-width: 1314px)"
          />

          <source
            srcset="
              ./images/hero/tablet/tablet-hero-img.png    1x,
              ./images/hero/tablet/tablet-hero-img@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero/mobile/mobile-hero-img.jpg    1x,
              ./images/hero/mobile/mobile-hero-img@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/hero/mobile/mobile-hero-img.jpg" alt="main image" />
        </picture>
      </div>
    </div>
    <ul class="hero__featres-list">
      <li class="hero__features-item">
        <div class="hero__card-contents">
          <svg class="hero__features-icon">
            <use href="./images/icons.svg#hero-icon1"></use>
          </svg>
          <p class="hero__icon-descr">Adapted author's <br />UPE program</p>
        </div>
      </li>
      <li class="hero__features-item">
        <div class="hero__card-contents">
          <svg class="hero__features-icon">
            <use href="./images/icons.svg#hero-icon2"></use>
          </svg>
          <p class="hero__icon-descr">Modern <br />teaching methods</p>
        </div>
      </li>
      <li class="hero__features-item">
        <div class="hero__card-contents">
          <svg class="hero__features-icon">
            <use href="./images/icons.svg#hero-icon3"></use>
          </svg>
          <p class="hero__icon-descr">Financial guarantee <br />the result</p>
        </div>
      </li>
    </ul>
  </div>
</section>
