<section class="main-problems">
    <div class="main-problems__container-first container">
        <h2 class="main-problems__title">
            The main problems of students <br> in English UPE, which <br> we <span class="main-problems__help">help</span> to solve
        </h2>
    </div>
        <div class="main-problems__container-second">
            <ul class="main-problems__list">
                <li class="main-problems__item">
                    <h3 class="main-problems__item-title">01</h3>
                    <p class="main-problems__description">Grammar</p>
                </li>
                <li class="main-problems__item">
                    <h3 class="main-problems__item-title">02</h3>
                    <p class="main-problems__description">Inability to understand spoken English</p>
                </li>
                <li class="main-problems__item">
                    <h3 class="main-problems__item-title">03</h3>
                    <p class="main-problems__description">Stingy vocabulary for writing an essay</p>
                </li>
                <li class="main-problems__item">
                    <h3 class="main-problems__item-title">04</h3>
                    <p class="main-problems__description">Preparing alone</p>
                </li>
                <li class="main-problems__item">
                    <h3 class="main-problems__item-title">05</h3>
                    <p class="main-problems__description">Lack of a single knowledge resource</p>
                </li>
                <li class="main-problems__item">
                    <h3 class="main-problems__item-title">06</h3>
                    <p class="main-problems__description">Lack of self-organization and laziness</p>
                </li>
            </ul>

        </div>
</section>