<div class="backdrop hidden" data-modal>
    <div class="modal-window">
        <button class="modal-window__close-button" type="button" data-modal-close>
            <svg class="modal-window__close-button-icon" width="18px" height="18px">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-text" lang="ru">Над проектом работали:<br/>
            Дмитрий Соцкий (Team lead), Виталий Тодоров (Scrum master), Евгения Швец, Наталья Фарафонова, Наталья Беженар, Андрей Паршук, Олег Щербак</p>
        <p class="modal-text">&#x00040;best-team-project</p>
    </div>
</div>
