<section class="registration" id="registration-form">
    <div class="container">
        <h2 class="registration__title">Registration for a <span class="registration__text_accent">free</span> phone
            <span class="registration__text_accent">consultation</span> on the nuances of English UPE</h2>
        <p class="registration__text">Leave a request for participation in a <span
                class="registration__text_accent">free lesson</span>.
                A consultant will contact you and answer your questions</p>
        <form class="registration-form">
            <div class="registration-form__fields">
                <div class="registration-form__thumb">
                    <input class="registration-form__input" type="text" name="name" id="name" placeholder=" " minlength="3" required/>
                    <label class="registration-form__label" for="name">Name*</label>
                </div>
                <div class="registration-form__thumb">
                    <input class="registration-form__input" type="tel" name="phone" id="tel" placeholder=" " required pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="000-000-00-00"/>
                    <label class="registration-form__label" for="tel">Phone*</label>
                </div>
            </div>
            <button class="registration-form__button" type="submit">i want a free lesson</button>
        </form>
    </div>
</section>