<section class="registration">
    <div class="container">
        <h2 class="registration__title">Registration for a <span class="registration__text_accent">free</span> phone <span class="registration__text_accent">consultation</span> on the nuances of English UPE</h2>
        <p class="registration__text">Leave a request for participation in a <span class="registration__text_accent">free lesson</span>.
        A consultant will contact you and answer your questions</p>
        <form class="registration-form">
            <div class="registration-form__fields">
                <div class="registration-form__thumb">
                    <label class="registration-form__label" for="name">Name*</label>
                    <input class="registration-form__input" type="text" name="name" id="name" checked/>
                </div>
                <div class="registration-form__thumb">
                    <label class="registration-form__label" for="tel">Phone*</label>
                    <input class="registration-form__input" type="tel" name="phone" id="tel" checked/>
                </div>
            </div>
            <button class="registration-form__button" type="submit">i want a free lesson</button>
        </form>
    </div>
</section>