<section class="our-works" id="training-options">
    <div class="our-works__container container">
        <h2 class="our-works__title">How do we do it</h2>
        <ul class="our-works__list list">
            <li class="our-works__item">
                <div class="our-works__section">
                    <svg width="46" height="48" class="our-works__icon">
                        <use href="./images/icons.svg#howdo-icon1"></use>
                    </svg>

                </div>
                <div class="our-works__card">
                    <h3 class="our-works__name">Adapted program<br>preparation for UPE</h3>
                    <p class="our-works__description our-works__program">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
                </div>

            </li>
            <li class="our-works__item">
                <div class="our-works__section">
                    <svg width="48" height="47" class="our-works__icon">
                        <use href="./images/icons.svg#howdo-icon2"></use>
                    </svg>

                </div>
                <div class="our-works__card">
                    <h3 class="our-works__name our-works__name-learning">Classroom and online
learning</h3>
                    <p class="our-works__description our-works__learning">The teacher will help not only in the classroom, but also during home preparation.<br>Parents can chat if they wish.</p>
                </div>
            </li>
            <li class="our-works__item">
                <div class="our-works__section">
                    <svg width="69" height="48" class="our-works__icon">
                        <use href="./images/icons.svg#howdo-icon3"></use>
                    </svg>

                </div>
                <div class="our-works__card">
                    <h3 class="our-works__name our-works__name-habit">The habit of reading in English</h3>
                    <p class="our-works__description our-works__habit">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
                </div>
            </li>
            <li class="our-works__item">
                <div class="our-works__section">
                    <svg width="49" height="48" class="our-works__icon">
                        <use href="./images/icons.svg#howdo-icon4"></use>
                    </svg>

                </div>
                <div class="our-works__card">
                    <h3 class="our-works__name">Psychological <br>support</h3>
                    <p class="our-works__description our-works__support">We will teach you testing 
techniques, the ability to plan your 
confidence training 
in itself.</p>
                </div>
            </li>
            <li class="our-works__item">
                <div class="our-works__section">
                    <svg width="40" height="48" class="our-works__icon">
                        <use href="./images/icons.svg#howdo-icon5"></use>
                    </svg>

                </div>
                <div class="our-works__card">
                    <h3 class="our-works__name our-works__name-manuals">Training on copyright
manuals</h3>
                    <p class="our-works__description our-works__manuals">You don't have to waste your time
on a search for material and to
buy anything extra. We have
compiled
2 manuals for you.</p>
                </div>
            </li>
            <li class="our-works__item">
                <div class="our-works__section">
                    <svg width="57" height="48" class="our-works__icon">
                        <use href="./images/icons.svg#howdo-icon6"></use>
                    </svg>

                </div>
                <div class="our-works__card">
                    <h3 class="our-works__name">Ability to comprehend spoken <br>English</h3>
                    <p class="our-works__description our-works__spoken">F.R.I.E.N.D.S” won't help you. You will
listen regularly
and analyze audio recordings
in accordance with the studied
vocabulary.</p>
                </div>
            </li>
        </ul>

    </div>

</section>