.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.31;
  letter-spacing: 0.03em;
  text-align: left;
}

.about__left-site {
  margin-top: 20px;
  margin-right: 37px;
}

.about__name {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-top: 20px;
}

.about__icon {
  width: 280px;
  height: 2px;
  margin-top: 10px;
}

.about__list {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  margin-top: 20px;

  &::after {
    display: inline-block;
    content: '';
    width: 18px;
    height: 2px;
    margin-bottom: 27px;
    background-color: $accentColor;
  }
}

.about__item {
  display: flex;
  margin-bottom: 30px;

  &::before {
    display: inline-block;
    content: '';
    width: 25px;
    height: 14px;
    margin-right: 9px;
    background-image: url(../images/about/teacher-vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.about__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.17;
  color: $secondColor;
}

.about__text {
  margin-bottom: 10px;
}

.about__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;
  color: $accentColor;
}
