.main-problems {
  background-image: linear-gradient(to bottom, $mainColor 72%, $additionalColor 28%);
  padding-top: 25px;
  padding-bottom: 50px;
  &__help {
    color: $accentColor;
  }
}

.main-problems__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  text-align: start;
  letter-spacing: 0.03em;
  color: $additionalColor;
  margin-bottom: 25px;
}

.main-problems__container-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.main-problems__list {
  background-color: $additionalColor;
  counter-reset: number;
}

.main-problems__item {
  width: 230px;
  &:before {
    counter-increment: number;
    content: '\2014 \0020'counter(number, decimal-leading-zero) '';
    display: flex;
    color: $accentColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    margin-bottom: 5px;
  }
}

.main-problems__description {
  font-weight: 800;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.08em;
  color: $mainColor;
}

@media screen and (max-width: 768px) {
  .main-problems__container-second {
    max-width: 480px;
    padding: 19px 14px 19px 30px;
  }
  .main-problems__title {
    padding-left: 20px;
  }
}

@include device-size(mobile) {
  .main-problems__container-first,
  .main-problems__container-second {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .main-problems__container-second {
    padding: 19px 14px 19px 30px;
  }

  .main-problems__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@include device-size(tablet) {
  .main-problems {
    padding-top: 60px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, $mainColor 63%, $additionalColor 37%);
  }

  .main-problems__container-first {
    max-width: 768px;
    padding-left: 42px;
    overflow: hidden;
  }

  .main-problems__container-second {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
  }

  .main-problems__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .main-problems__item {
    width: 230px;
    margin-top: 26px;
    margin-left: 22px;
    // margin-bottom: 0;
    &:before {
      counter-increment: number;
      content: '\2014 \0020'counter(number, decimal-leading-zero) '';
      display: flex;
      color: $accentColor;
      font-weight: 700;
      font-size: 14px;
      line-height: 164.9%;
      letter-spacing: 0.08em;
      margin-bottom: 10px;
    }
  }
}

@include device-size(desktop) {
  .main-problems {
    max-width: 100vw;
    padding-top: 100px;
    padding-bottom: 60px;
    background-image: url(../images/main-problems/img_campfire.svg),
      linear-gradient(180deg, #111518 560px, #fff 0);
    background-repeat: no-repeat;
    background-position: right 0px top 88px, 0 0;

    &__title {
      font-size: 46px;
      margin-bottom: 70px;
    }
  }

  .main-problems__container-first {
    max-width: 1728px;
    padding-left: 183px;
  }

  .main-problems__container-second {
    max-width: 1314px;
    margin-left: 183px;
    margin-right: 183px;
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .main-problems__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -35px;
    margin-left: -35px;
    padding: 0;
  }
  .main-problems__item {
    margin-top: 35px;
    margin-left: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.08em;
  }
}
