.our-program {
    background-image: linear-gradient( to bottom, $mainColor 88%, $additionalColor 12%);
    padding: 50px 0;
}

.first-container {
    padding-left: 74px;
    margin-bottom: 50px;
}

.our-program__list {
    position: relative;
    &::after {
        position: absolute;
        bottom: -100px;
        right: -77px;
        content: "";
        background-image: url(../images/our-program/program-mobile1x.jpg);
        width: 176px;
        height: 137px;
        background-position: -3px;
        opacity: 0.5;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and(min-width:390px) {
    .our-program__list::after {
        right: -3px;
    }
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px),
(min-resolution: 192dpi) and (min-width: 320px),
(min-resolution: 2dppx) and (min-width: 320px) {
    .our-program__list {
        &::after {
            background-image: url(../images/our-program/program-mobile2x.jpg);
        }
    }
}

.our-program__container {
    overflow: hidden;
}

.our-program__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: $additionalColor;
    margin-bottom: 50px;
}

.our-program__item {
    padding-left: 26px;
    &:not(:last-child) {
        border-left: 1px solid $additionalColor;
        padding-bottom: 40px;
    }
}

.our-program__item-title {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.1;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $additionalColor;
    margin-bottom: 10px;
    &::before {
        position: absolute;
        top: -6px;
        left: -32px;
        display: inline-block;
        content: "";
        border-radius: 50%;
        background-color: $accentColor;
        width: 12px;
        height: 12px;
    }
}

.our-program__description-title {
    display: flex;
    font-weight: 700;
    font-size: 12px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    color: $accentColor;
    margin: 10px 0;
    &::before {
        display: inline-block;
        align-self: center;
        content: "";
        background-color: $accentColor;
        width: 15px;
        height: 2px;
        margin-right: 5px;
    }
}

.our-program__description-text-item {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20/12);
    letter-spacing: 0.08em;
    color: $secondColor;
    opacity: 0.5;
}

.choose-us__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $additionalColor;
    max-width: 180px;
    margin-bottom: 30px;
}

.choose-us__list {
    background-color: $additionalColor;
    padding: 20px 22px 20px;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.choose-us__item-title {
    display: flex;
    color: $accentColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
    &::before {
        display: inline-block;
        align-self: center;
        content: "";
        background-color: $accentColor;
        width: 15px;
        height: 2px;
        margin-right: 5px;
    }
}

.choose-us__item:not(:last-child) {
    margin-bottom: 36px;
}

.choose-use__description {
    font-weight: 800;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.08em;
    color: $mainColor;
}

// tablet
@include device-size(tablet) {
    .our-program {
        background-image: linear-gradient( to bottom, $mainColor 80%, $additionalColor 20%);
    }
    .our-program__title {
        text-align: left;
        font-weight: 800;
        font-size: 26px;
        line-height: 130%;
        letter-spacing: 0.03em;
    }
    .first-container {
        padding-left: 77px;
    }
    .our-program__description-list {
        display: flex;
    }
    .our-program__description-text-list {
        width: 200px;
    }
    .our-program__description-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .our-program__list {
        position: relative;
        &::after {
            position: absolute;
            bottom: -150px;
            right: -3px;
            content: "";
            background-image: url(../images/our-program/program-tablet1x.jpg);
            width: 384px;
            height: 280px;
            opacity: 0.5;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
        .our-program__list {
            &::after {
                background-image: url(../images/our-program/program-tablet2x.jpg);
            }
        }
    }
    .first-container {
        margin-bottom: 190px;
    }
    .choose-us__title {
        max-width: 100%;
        font-weight: 800;
        font-size: 26px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .choose-us__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 30px;
        .choose-us__item {
            width: 230px;
            margin-top: 35px;
            margin-left: 35px;
            margin-bottom: 0;
        }
    }
}

@include device-size(desktop) {
    .first-container {
        padding: 0;
    }
    .our-program__list {
        display: flex;
        padding-top: 60px;
        &::after {
            position: absolute;
            top: 300px;
            left: -3px;
            content: "";
            background-image: url(../images/our-program/program-desktop1x.jpg);
            width: 760px;
            height: 520px;
            opacity: 0.5;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .our-program__item {
            border: none;
            padding: 0;
            &:not(:last-child) {
                margin-right: 100px;
            }
        }
    }
    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
        .our-program__list {
            &::after {
                background-image: url(../images/our-program/program-desktop2x.jpg);
            }
        }
    }
    .our-program__item-title::before {
        top: -60px;
        left: 0px;
    }
    .our-program__title {
        font-weight: 800;
        font-size: 46px;
        line-height: 130%;
        letter-spacing: 0.03em;
    }
    .our-program__description-list {
        display: flex;
        flex-direction: column;
    }
    .our-program__description-text-list {
        width: auto;
    }
}