.registration {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $mainColor;
  background-image: url('../images/registration-form/bg-form-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    margin-bottom: 50px;

    font-weight: 800;
    font-size: 14px;
    line-height: 1.3;

    text-align: center;
    letter-spacing: 0.03em;

    color: $additionalColor;
  }

  &__text {
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;

    color: $additionalColor;

    &_accent {
      color: $accentColor;
    }
  }
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 280px;
  // margin-left: auto;
  // margin-right: auto;

  &__fields {
    margin-bottom: 50px;
  }

  &__thumb {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 28px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;

    color: $additionalColor;

    transform: translateY(-50%);
    transition: transform 500ms linear, color 500ms linear;
  }

  &__input {
    width: 280px;
    height: 48px;
    padding-left: 28px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;

    color: $additionalColor;
    background-color: transparent;
    border: 1px solid $additionalColor;
    outline: none;

    transition: border 500ms linear;

    &:focus {
      border: 1px solid $accentColor;
    }

    &:focus + .registration-form__label,
    &:not(:placeholder-shown) + .registration-form__label {
      color: $accentColor;
      transform: translateY(-40px);
    }
  }

  &__button {
    width: 260px;
    height: 48px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    background-color: $accentColor;
    color: $additionalColor;
    border: none;

    cursor: pointer;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .registration {
    background-image: url('../images/registration-form/bg-form-mobile@2x.png');
  }
}

@include device-size(tablet) {
  .registration {
    // min-width: 768px;
    padding-bottom: 70px;

    background-image: url(../images/registration-form/bg-form-tablet.png);

    &__title {
      font-size: 26px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.21;
    }
  }

  .registration-form {
    // width: 390px;

    &__fields {
      margin-bottom: 30px;
    }

    &__input {
      width: 390px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .registration {
    background-image: url('../images/registration-form/bg-form-tablet@2x.png');
  }
}

@include device-size(desktop) {
  .registration {
    max-width: 1680px;
    padding-top: 100px;
    padding-bottom: 60px;

    background-image: url('../images/registration-form/bg-form-desktop.png');

    &__title {
      font-size: 46px;
    }

    &__text {
      margin-bottom: 56px;

      font-size: 30px;
      line-height: 1.23;
    }
  }

  .registration-form {
    // width: 478px;

    &__thumb:not(:last-child) {
      margin-bottom: 25px;
    }

    &__label {
      left: 40px;

      font-size: 20px;
      line-height: 1.2;
    }

    &__input {
      width: 478px;
      height: 70px;

      &:focus + .registration-form__label,
      &:not(:placeholder-shown) + .registration-form__label {
        transform: translateY(-60px);
      }
    }

    &__button {
      width: 354px;
      height: 70px;

      font-size: 14px;
      line-height: 1.21;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .registration {
    background-image: url('../images/registration-form/bg-form-desktop@2x.png');
  }
}
